h1{
    float: right;
}
body, html{
    background-color: gray;
    margin: 0;
}
#side{
    overflow: hidden;
    align-content: center;
    text-align: center;
    flex: auto;
    background-color: blanchedalmond;   
    width: 35%;
    
}
#drzimgodinuitema{
    margin: auto;
    overflow: hidden;
}
@media only screen and (max-width: 600px){     
    #babo{background-color:gray;
        display: inline;}   
   #side{float: none;}
   #glavniSadrzaj{display: inline;}
}
#babo{
    text-align: center;
    display: flex;
    overflow: hidden;
    background-color: gray;
    height: 100%;
    width: 100%;
}
#kontejnercic{
    margin: auto;
    background-color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
}
#godina{
 
    font-style: normal;
    align-content: center;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    background-color: white;

}
#glavniSadrzaj{
    align-content: center;
    text-align: center;
    width: 65%;
    background-color: cornflowerblue;
    overflow: hidden;
}
#asd>*{
    background-color: gray
}
input[type=text]{
    background-color: gray;
}
#meni li, #meni a{
    display: inline;
}
#header{
    background-color: #c99;
    overflow: hidden;
    width: 100%;
}
#footer{
    overflow: hidden;
    position: relative;
    float: left;
    background-color: #c99;
    width: 100%;
    padding: 2%;
}

.item{
    align-content: center;
    align-items: center;
    align-self: center;
    margin: 2%;
border-style: solid;
color:black;
background-color: cornflowerblue; 
height: 140px;
width: 120px;
}
@media only screen and (max-width: 600px){     
    #babo{background-color: gray;
        display: flex;
        flex-direction: column;
    }   
   #side{float: none;
width: 100%;}
   #glavniSadrzaj{
       float: none;
       width: 100%;
   }
    h1{
        float: left;
    }
    img{
        float: left;
    }
    li,a{
        float: left;
    }
}