h1{
    float: right;
}
#header li{
    list-style: none;
    display: inline;
}
#header{
    background-color: #c99;
    overflow:hidden;
}
#footer{
    background-color: #c99;
}
html,body{
    background-color: gray;
    margin: 0;
}
#babo{
    text-align: center;
    display: flex;
    overflow: hidden;
    background-color: gray;
    height: 100%;
    width: 100%;
}
#godina{
    margin: auto;
    font-style: normal;
    align-content: center;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    background-color: white;
    width: 60%;
    height: 67.5%;
    overflow-y: scroll;
}
#godina li, #godina a{
    list-style: none;
    text-decoration: none;
    color: black;
}
#imena{
    margin: auto;
    align-items: center;
    font-style: normal;
    align-content: center;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    background-color: white;
    width: 60%;
    height: 60%;
    overflow-y: scroll;    
}
#imena li, #imena a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.cetvrtina{
border-style: solid;
flex: auto;
width: 25%;
background-color: bisque;
}

.polovina{
align-items: center;
text-align:left;
border-style: solid;
flex: auto;
width: 50%;
background-color: bisque;
}
.kontejnercic{
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: row wrap;
}

.folder{
margin: 5%;
background-color: azure;
}
.item{
    align-content: center;
    align-items: center;
    align-self: center;
    margin: 2%;
border-style: solid;
color: #c99;
background-color: cornflowerblue; 
height: 100px;
width: 100px;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  @media only screen and (max-width: 600px){     
    #babo{background-color: gray;
        display: inline;
        width: 100%;
    }   
    .cetvrtina{
        width: 100%;
    }
    .polovina{
        width: 100%;
    }
   #side{float: none;
width: 100%;}
   #glavniSadrzaj{
       float: none;
       width: 100%;
   }
    h1{
        float: left;
    }
    img{
        float: left;
    }
    li,a{
        float: left;
    }
}