h1{
    float: right;
}
body{
    background-color: gray;
    margin: 0;
}
#header li{
    list-style: none;
    display: inline;
    text-decoration: none;
    color: black;
}
#header{
    background-color: #c99;
    overflow: hidden;
}
#footer{
    overflow: hidden;
    background-color: #c99;
}
#glavniSadrzaj{
    width: 85%;
    background-color: azure;
    margin: auto;
    overflow: hidden;
    padding: 2%;
}
#drzimnaslovfPojedinacni, #drzimnaslovfMasovni{
    text-align: center;
    margin: auto;
}
#drzimsubmit{
    float: right;
}
select,input{
    width: 50%;
}
#drzimcheckbox{
    float: left;
}
#drzimdodaj{
    float: right;
}
#zadaci{
    width: 50%;
border: solid 2px black;
background-color: white;
}
#fPojedinacni, #fMasovni{
    box-shadow: 5px 10px #888888;
    padding: 5%;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    overflow: hidden;
    background-color: beige;
    width: 50%;
}
@media only screen and (max-width: 600px){     
    #babo{background-color: gray;
        display: inline;}   
   #side{float: none;
width: 100%;}
   #glavniSadrzaj{
       float: none;
       width: 100%;
   }
    h1{
        float: left;
    }
    img{
        float: left;
    }
    li,a{
        float: left;
    }
}