h1{
    float: right;
}
body, html{
    background-color:gray;
    margin: 0;
}
#side{
    overflow: hidden;
    align-content: center;
    text-align: center;
    flex: auto;
    background-color: blanchedalmond;   
    width: 35%;
    
}

#babo{
    display: flex;
    overflow: hidden;
    background-color: gray;
    height: 100%;
    width: 100%;
    
}
#glavniSadrzaj{
    padding-left: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    align-content: center;
    text-align: center;
    flex: auto;
    width: 65%;
    background-color: cornflowerblue;
    overflow: hidden;
}
#listaGodine{
    font-style: normal;
    align-content: center;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    width: 40%;
    height: 80%;    
    overflow-y: scroll;
}

#listaGodine li, #listaGodine a{
    list-style: none;
    text-decoration: none;
    color: black;
}
#meni li, #meni a{
    display: inline;
}
#header{
    background-color: #c99;
    overflow: hidden;
    width: 100%;
}
#footer{
    overflow: hidden;
    position: relative;
    float: left;
    background-color: #c99;
    width: 100%;
    padding: 2%;
}
#prvired{
    background-color: aquamarine;
}

#tabela{
    object-position: center;
    align-content: center;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: left;

    width: 50%;
}
th,td{
    flex:auto;
    border: 1px solid black;
    padding: 15px;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  @media only screen and (max-width: 600px){     
    #babo{background-color: gray;
        display: inline;}   
   #side{float: none;
width: 100%;}
   #glavniSadrzaj{
       float: none;
       width: 100%;
   }
    h1{
        float: left;
    }
    img{
        float: left;
    }
    li,a{
        float: left;
    }
}