h1{
    float: right;
}
body{
    background-color: gray;
    margin: 0;
}
#header li{
    list-style: none;
    display: inline;
    text-decoration: none;
    color: black;
}
#header{
    background-color: #c99;
    overflow: hidden;
}
#footer{
    overflow: hidden;
    background-color: #c99;
}
#drzimdodavanje{
    box-sizing: border-box;
    margin: 0px 0;
    float: right;
    width: 5%;
    height: 5%;
}
#drzimnaslov{
    padding-left: 40%;
    overflow: hidden;
}
#glavniSadrzaj{
    padding: 2%;
    margin: auto;
    overflow: hidden;
    background-color: azure;
    width: 85%;
}
#forma{
    box-shadow: 5px 10px #888888;
    padding: 5%;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    overflow: hidden;
    background-color: beige;
    width: 50%;
}
input[type=text]{
    width: 40%;
    margin: 8px 0;
    box-sizing: border-box;
}
select{
    width: 40%;
    margin: 8px 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 600px){     
    #babo{background-color: gray;
        display: inline;}   
   #side{float: none;
width: 100%;}
   #glavniSadrzaj{
       float: none;
       width: 100%;
   }
    h1{
        float: left;
    }
    img{
        float: left;
    }
    li,a{
        float: left;
    }
}