input[type=button]{
    border-radius: 15%;
    padding: 1%;
    width: 40%;
    height: 20%;
    float: right;
}
input[type=text]{
    border-radius: 15%;
    padding: 1%;
    width: 40%;
}
input[type=password]{
    border-radius: 15%;
    padding: 1%;
    width: 40%;
}
#login{
    text-align: center;
    background-color: yellowgreen;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 1%;
    margin: 0.8%;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    background-color: gray;
}