h1{
    float: right;
}
body{
    margin: 0;
}
#header{
    background-color: #c99;
    overflow: hidden;
    color: black;
}
#header li{
    list-style: none;
    text-decoration: none;
    display: inline;
}
#footer{
    overflow: hidden;
    background-color: #c99;    
}
#page{
    background-color: lightgray;
    overflow: hidden;
}
#tabela{
    border: solid black 2px;
    border-collapse: collapse;
    margin: 10%;
width: 60%;
background-color: beige;
}
tr,th{
    border: solid black 2px;
    border-collapse: collapse;
}
#prvired{
    
    background-color: lightcoral;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }